# macOS system files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Ignore local or external installer scripts
Miniforge3-MacOSX-arm64.sh
*.run
*.bin

/minimax_assignment/fishing_game_core/__pycache__
